.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 3rem 0;
}

ion-card.sales__card {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card__bg__color {
  --background: var(--ion-card-bg-color);
}

.card__info {
  .cash__box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--box-info-bg-color);
    color: var(--ion-color-success);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info__color {
    color: var(--ion-color-success);
  }
}

.card__order {
  .cash__box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--box-order-bg-color);
    color: var(--ion-color-warning);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .order__color {
    color: var(--ion-color-danger);
  }
}

.card__customer {
  .cash__box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--box-customer-color);
    color: var(--ion-color-info);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .customer__color {
    color: var(--ion-color-success);
  }
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

ion-text {
  cursor: pointer;
}

.flex__end {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.arrow-down {
  transform: rotate(-90deg); /* Rotate left/up */
}

.arrow-up {
  transform: rotate(90deg); /* Rotate right/down */
}

.card__revenue {
  ion-button {
    --background: var(--ion-color-secondary-tint);
  }
}
