<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{dictionary.Dashboard}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12">
            <ion-card-title color="dark">
              {{dictionary.GoodMorning}}
            </ion-card-title>
          </ion-col>
          <ion-col size="12">
            <ion-card-subtitle>
              {{dictionary.HeresWhatsHappeningWithYourStoreToday}}.
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="4">
        <ion-card class="card__info card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle color="dark">
                    {{dictionary.TotalEarnings}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col class="flex__end" size="6">
                  <span class="info__color">
                    {{17.23 | number | persianNumber}}
                    <ion-icon class="arrow-up" name="arrow-forward"></ion-icon>
                    %
                  </span>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title color="dark">
                    {{totalEarnings | number | persianNumber}}
                  </ion-card-title>
                </ion-col>
                <ion-col size="9">
                  <div class="center">
                    <ion-text color="dark">
                      {{dictionary.ViewNetEarnings}}
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col class="flex__end" size="3">
                  <div class="cash__box">
                    <ion-icon name="cash-outline"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <ion-card class="card__order card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle color="dark">
                    {{dictionary.Orders}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col class="flex__end" size="6">
                  <span class="order__color">
                    {{10.23 | number | persianNumber}}-
                    <ion-icon
                      class="arrow-down"
                      name="arrow-forward"
                    ></ion-icon>
                    %
                  </span>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title color="dark">
                    {{orders | number | persianNumber}}
                  </ion-card-title>
                </ion-col>
                <ion-col size="9">
                  <div class="center">
                    <ion-text color="dark">
                      {{dictionary.ViewAllOrders}}
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col class="flex__end" size="3">
                  <div class="cash__box">
                    <ion-icon name="receipt-outline"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <ion-card class="card__customer card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle color="dark">
                    {{dictionary.Customers}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col class="flex__end" size="6">
                  <span class="customer__color">
                    {{20 | number | persianNumber}}
                    <ion-icon class="arrow-up" name="arrow-forward"></ion-icon>
                    %
                  </span>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title color="dark">
                    {{customer | number | persianNumber}}
                  </ion-card-title>
                </ion-col>
                <ion-col size="9">
                  <div class="center">
                    <ion-text color="dark">
                      {{dictionary.SeeDetails}}
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col class="flex__end" size="3">
                  <div class="cash__box">
                    <ion-icon name="person-outline"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
