ion-header {
  ion-toolbar {
    --background: var(--ion-toolbar-bg-color) !important;
  }
}

ion-card.sales__card {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card__bg__color {
  --background: var(--ion-card-bg-color);
}

.card__info {
  .cash__box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #daf4f0;
    color: var(--ion-color-success);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    ion-text {
      cursor: pointer;
    }
  }

  .flex__end {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .arrow-down {
    transform: rotate(-90deg); /* Rotate left/up */
  }

  .arrow-up {
    transform: rotate(90deg); /* Rotate right/down */
  }

  .info__color {
    color: var(--ion-color-success);
  }
}
