<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{dictionary.Dashboard}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12">
            <ion-card-title color="dark">
              {{dictionary.GoodMorning}}
            </ion-card-title>
          </ion-col>
          <ion-col size="12">
            <ion-card-subtitle>
              {{dictionary.HeresWhatsHappeningWithYourStoreToday}}.
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="4">
        <ion-card class="card__info card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle color="dark">
                    {{dictionary.TotalEarnings}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col class="flex__end" size="6">
                  <span class="info__color">
                    {{17.23 | number | persianNumber}}
                    <ion-icon class="arrow-up" name="arrow-forward"></ion-icon>
                    %
                  </span>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title color="dark">
                    {{totalEarnings | number | persianNumber}}
                  </ion-card-title>
                </ion-col>
                <ion-col size="9">
                  <div class="center">
                    <ion-text color="dark">
                      {{dictionary.ViewNetEarnings}}
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col class="flex__end" size="3">
                  <div class="cash__box">
                    <ion-icon name="cash-outline"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <ion-card class="card__order card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle color="dark">
                    {{dictionary.Orders}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col class="flex__end" size="6">
                  <span class="order__color">
                    {{10.23 | number | persianNumber}}-
                    <ion-icon
                      class="arrow-down"
                      name="arrow-forward"
                    ></ion-icon>
                    %
                  </span>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title color="dark">
                    {{orders | number | persianNumber}}
                  </ion-card-title>
                </ion-col>
                <ion-col size="9">
                  <div class="center">
                    <ion-text color="dark">
                      {{dictionary.ViewAllOrders}}
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col class="flex__end" size="3">
                  <div class="cash__box">
                    <ion-icon name="receipt-outline"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <ion-card class="card__customer card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-subtitle color="dark">
                    {{dictionary.Customers}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col class="flex__end" size="6">
                  <span class="customer__color">
                    {{20 | number | persianNumber}}
                    <ion-icon class="arrow-up" name="arrow-forward"></ion-icon>
                    %
                  </span>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title color="dark">
                    {{customer | number | persianNumber}}
                  </ion-card-title>
                </ion-col>
                <ion-col size="9">
                  <div class="center">
                    <ion-text color="dark">
                      {{dictionary.SeeDetails}}
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col class="flex__end" size="3">
                  <div class="cash__box">
                    <ion-icon name="person-outline"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeMd="8" size="12">
        <ion-card class="card__revenue card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col sizeMd="4" size="12">
                  <ion-card-title class="center" color="dark">
                    {{dictionary.Revenue}}
                  </ion-card-title>
                </ion-col>
                <ion-col class="flex__end" sizeMd="8" size="12">
                  <ion-button>
                    {{1 | persianNumber}}{{dictionary.Year}}
                  </ion-button>
                  <ion-button>
                    {{6 | persianNumber}}{{dictionary.Month}}
                  </ion-button>
                  <ion-button>
                    {{3 | persianNumber}}{{dictionary.Month}}
                  </ion-button>
                  <ion-button>{{dictionary.All}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-row>
                    <ion-col class="ion-no-padding ion-no-margin" size="12">
                      <ion-title color="dark">
                        {{367 | persianNumber}}
                      </ion-title>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="12">
                      <ion-title color="dark">{{dictionary.Refunds}}</ion-title>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="4">
                  <ion-row>
                    <ion-col class="ion-no-padding ion-no-margin" size="12">
                      <ion-title color="dark">
                        {{22000.89 | number | persianNumber }}
                      </ion-title>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="12">
                      <ion-title color="dark"
                        >{{dictionary.Earnings}}</ion-title
                      >
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="4">
                  <ion-row>
                    <ion-col class="ion-no-padding ion-no-margin" size="12">
                      <ion-title color="dark">
                        {{7585 | number | persianNumber }}
                      </ion-title>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="12">
                      <ion-title color="dark">{{dictionary.Orders}}</ion-title>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <div id="highchart-container"></div>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeMd="4" size="12">
        <ion-card class="card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [constructorType]="'mapChart'"
                    [options]="mapChartOptions"
                    style="width: 100%; display: block"
                  ></highcharts-chart>
                </ion-col>
                <ion-col size="12">
                  <ion-label color="dark">{{dictionary.Tehran}}</ion-label>
                  <ion-progress-bar value="0.5"></ion-progress-bar>
                </ion-col>
                <ion-col size="12">
                  <ion-label color="dark">{{dictionary.Ahvaz}}</ion-label>
                  <ion-progress-bar
                    color="success"
                    value="0.3"
                  ></ion-progress-bar>
                </ion-col>
                <ion-col size="12">
                  <ion-label color="dark">{{dictionary.Isfahan}}</ion-label>
                  <ion-progress-bar
                    color="warning"
                    value="0.2"
                  ></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeMd="4" size="12">
        <ion-card class="card__bg__color">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [constructorType]="'mapChart'"
                    [options]="pieChartOptions"
                    style="width: 100%; display: block"
                  ></highcharts-chart>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeMd="8" size="12">
        <ion-card class="card__bg__color">
          <ion-card-content> </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
