<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu__header">
          <div class="menu__header__avatar">
            <ion-avatar>
              <img src="../../../assets/images/profile.png" />
            </ion-avatar>
          </div>
          <div class="menu__header__text">
            <ion-label>{{ dictionary.UserName }}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="toggleDarkMode()">
                <ion-icon
                  [name]="
                    isDarkMode === null || isDarkMode === 'disabled'
                      ? 'moon'
                      : 'sunny'
                  "
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
        <ion-list id="inbox-list">
          @for (p of appPages; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [color]="
                  isDarkMode === null || isDarkMode === 'disabled'
                    ? 'light'
                    : 'dark'
                "
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label
                [color]="
                  isDarkMode === null || isDarkMode === 'disabled'
                    ? 'light'
                    : 'dark'
                "
                >{{ p.title }}</ion-label
              >
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
